@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .rows > :not(:last-of-type) {
    border-top: 1px solid black;
  }
  :is(button, svg) {
    transition: 0.2s;
  }
  button {
    padding: 0.25rem 0.5rem;
    border-radius: 0.15rem;
    outline: 1px solid lightgray;
    background-color: #eeeeee;
  }
  button:hover {
    outline-color: gray;
    background: #00000024;
  }
  button:active {
    transform: translateY(1px);
  }
  :is(:disabled, [aria-disabled='true']) {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }
  svg[aria-label='up']:active {
    transform: translateY(-2px);
  }
  svg[aria-label='down']:active {
    transform: translateY(2px);
  }
  svg[aria-label='settings']:hover {
    transform: rotate(60deg);
  }
  .picker div:has(span) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .picker {
    box-shadow: none !important;
  }
  .picker span > div {
    outline: 0.2px dotted #dfdfdf !important;
  }
  .picker span:last-of-type > div {
    border-radius: 2rem !important;
    box-shadow: 0 0 2px black;
    pointer-events: none;
    transition: 0.3s;
  }
}
